<h1>Tenant Information</h1>
<label>Name: </label>
<h3><%= @tenant.name %></h3>
<label>Apartment Address: </label>
<h3><%= @tenant.apartment.address %></h3>
<a href="<%=@tenant.id%>/edit">Edit Tenant</a>
<form action="<%=@tenant.id%>" method="POST">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Tenant">
<form>